<html>

<head>
<title>LOL</title>
</head>

<body>

<h3>About DSNetwork</h3>

In order to assist the prioritization process, we created a web application called DSNetwork for <b>D</b>ecision <b>S</b>upport <b>N</b>etwork. <br>This tool aims to provide the users with deleteriousness predictions for human variants (hg19 build), recovered from several trusted sources and present those score in a user-friendly web interface.

<h3>Citing DSNetwork</h3>
<div style="color:red";>
<!--a href="https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btw826">VEXOR: an integrative environment for prioritization of functional variants in fine-mapping analysis.</a><br>
Lemaçon A, Joly Beauparlant C, Soucy P, Allen J, Easton D, Kraft P, Simard J, Droit A.<br>
Bioinformatics. 2017 May 1;33(9):1389-1391. doi: 10.1093/bioinformatics/btw826.-->
Coming soon!
</div>

<h3>Supported By</h3>
The PERSPECTIVE project was supported by the Government of Canada through Genome Canada and the Canadian Institutes of Health Research (grant GPH-1293344), the Ministère de l’Économie, Science et Innovation du Québec through Genome Québec and the Quebec Breast Cancer Foundation.

<h3>Acknoledgements</h3>
We thank Dr. Dayem Ullah and Pr. Jun Wang at the Barts Cancer Institute, University of London for their assistance in integrating SNPnexus data. We also thank Pr. Bing-Jian Feng at University of Utah School of Medicine for his help regarding BayesDel integration. We are also grateful to all the personnel of A.D.’s lab and particularly the PhD students and the System Administrator. We wish to extend our thanks to all the current and future DSNetwork users. 

<h3>References</h3>
<ul>
<li>1000 Genomes Project Consortium, Adam Auton, Lisa D. Brooks, Richard M. Durbin, Erik P. Garrison, Hyun Min Kang, Jan O. Korbel, et al. 2015. “A Global Reference for Human Genetic Variation.” Nature 526 (7571): 68–74.</li>
<li>Chang, W., J. Cheng, J. J. Allaire, Y. Xie, and J. McPherson. 2017. “Shiny: Web Application Framework for R [Computer Software].” URL http://CRAN. R-Project. Org/package= Shiny (R Package Version 1. 0. 0).</li>
<li>Dayem Ullah, Abu Z., Jorge Oscanoa, Jun Wang, Ai Nagano, Nicholas R. Lemoine, and Claude Chelala. 2018. “SNPnexus: Assessing the Functional Relevance of Genetic Variation to Facilitate the Promise of Precision Medicine.” Nucleic Acids Research 46 (W1): W109–13.</li>
<li>Feng, Bing-Jian. 2017. “PERCH: A Unified Framework for Disease Gene Prioritization.” Human Mutation 38 (3): 243–51.</li>
<li>Ghoussaini, Maya, Juliet D. French, Kyriaki Michailidou, Silje Nord, Jonathan Beesley, Sander Canisus, Kristine M. Hillman, et al. 2016. “Evidence That the 5p12 Variant rs10941679 Confers Susceptibility to Estrogen-Receptor-Positive Breast Cancer through FGF10 and MRPS30 Regulation.” American Journal of Human Genetics 99 (4): 903–11.</li>
<li>Huang, Yi-Fei, Brad Gulko, and Adam Siepel. 2017. “Fast, Scalable Prediction of Deleterious Noncoding Variants from Functional and Population Genomic Data.” Nature Genetics 49 (4): 618–24.</li>
<li>Ionita-Laza, Iuliana, Kenneth McCallum, Bin Xu, and Joseph D. Buxbaum. 2016. “A Spectral Approach Integrating Functional Genomic Annotations for Coding and Noncoding Variants.” Nature Genetics 48 (2): 214–20.</li>
<li>Iulio, Julia di, Istvan Bartha, Emily H. M. Wong, Hung-Chun Yu, Victor Lavrenko, Dongchan Yang, Inkyung Jung, et al. 2018. “The Human Noncoding Genome Defined by Genetic Diversity.” Nature Genetics 50 (3): 333–37.</li>
<li>McLaren, William, Laurent Gil, Sarah E. Hunt, Harpreet Singh Riat, Graham R. S. Ritchie, Anja Thormann, Paul Flicek, and Fiona Cunningham. 2016. “The Ensembl Variant Effect Predictor.” Genome Biology 17 (1): 122.</li>
<li>Sherry, S. T., M. H. Ward, M. Kholodov, J. Baker, L. Phan, E. M. Smigielski, and K. Sirotkin. 2001. “dbSNP: The NCBI Database of Genetic Variation.” Nucleic Acids Research 29 (1): 308–11.</li>
<li>Wang, Jun, Abu Z. Dayem Ullah, and Claude Chelala. 2018. “IW-Scoring: An Integrative Weighted Scoring Framework for Annotating and Prioritizing Genetic Variations in the Noncoding Genome.” Nucleic Acids Research 46 (8): e47.</li>
<li>Xin, Jiwen, Adam Mark, Cyrus Afrasiabi, Ginger Tsueng, Moritz Juchler, Nikhil Gopal, Gregory S. Stupp, et al. 2016. “High-Performance Web Services for Querying Gene and Variant Annotation.” Genome Biology 17 (1): 91.</li>
<li>Yates, Andrew, Kathryn Beal, Stephen Keenan, William McLaren, Miguel Pignatelli, Graham R. S. Ritchie, Magali Ruffier, Kieron Taylor, Alessandro Vullo, and Paul Flicek. 2015. “The Ensembl REST API: Ensembl Data for Any Language.” Bioinformatics  31 (1): 143–45.</li>
</ul>

<h3>Contact Us</h3>
This tool is an <a href="http://compbio.ulaval.ca/">ADLab</a> production and has been developed by <a href="https://www.linkedin.com/in/audreylemacon/">Audrey Lemaçon</a>.<br>
For any issues please contact audrey.lemacon.1 at ulaval dot ca or file an issue in <a href="https://github.com/ArnaudDroitLab/DSNETWORK" target="_tab">DSNetwork github issue page</a>

<h3>Disclaimer</h3>
THIS SOFTWARE IS PROVIDED "AS IS", WITHOUT EXPRESS OR IMPLIED WARRANTY OF ANY KIND, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR SUITABILITY UNDER ANY CIRCUMSTANCES. THE AUTHOR MAKES NO WARRANTY THAT THE OUTPUT OF THE SOFTWARE WILL BE ACCURATE, CORRECT, RELIABLE OR COMPLETE; THE SOFTWARE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS; THE SOFTWARE IS FREE FROM DEFECTS; OR THE SOFTWARE WILL NOT STOP WORKING. THE AUTHOR HAS NO OBLIGATION TO CORRECT ERRORS, MAKE CHANGES, PROVIDE MAINTENANCE OR TECHNICAL SUPPORT, OR INTERPRET ANY RESULTS OBTAINED FROM THE USE OF THE SOFTWARE. IN NO EVENT SHALL THE AUTHOR BE LIABLE TO ANY PARTY FOR ANY CLAIM, LOSS, EXPENSE OR DAMAGE RESULTING FROM THE USE OF THE SOFTWARE.<br>
(C) 2017-2018 AD Lab.


</body>
</html>
