<html>

<head>
<title>LOL</title>
</head>

<body>

<h3>About DSNetwork</h3>

In order to assist the prioritization process, we created a web application called DSNetwork for <b>D</b>ecision <b>S</b>upport <b>N</b>etwork. <br>This tool aims to provide the users with deleteriousness predictions for human variants (hg19 build), recovered from several trusted sources and present those score in a user-friendly web interface.

<h3>Citing DSNetwork</h3>
<div style="color:red";>
<!--a href="https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btw826">VEXOR: an integrative environment for prioritization of functional variants in fine-mapping analysis.</a><br>
Lemaçon A, Joly Beauparlant C, Soucy P, Allen J, Easton D, Kraft P, Simard J, Droit A.<br>
Bioinformatics. 2017 May 1;33(9):1389-1391. doi: 10.1093/bioinformatics/btw826.-->
Coming soon!
</div>

<h3>Supported By</h3>
The PERSPECTIVE project was supported by the Government of Canada through Genome Canada and the Canadian Institutes of Health Research (grant GPH-1293344), the Ministère de l’Économie, Science et Innovation du Québec through Genome Québec and the Quebec Breast Cancer Foundation.

<!--h3>References</h3-->


<h3>Contact Us</h3>
This tool is an <a href="http://compbio.ulaval.ca/">ADLab</a> production and has been developed by <a href="https://www.linkedin.com/in/audreylemacon/">Audrey Lemaçon</a>.<br>
For any issues please contact audrey.lemacon.1 at ulaval dot ca or file an issue in <a href="https://github.com/ArnaudDroitLab/DSNETWORK" target="_tab">DSNetwork github issue page</a>

<h3>Disclaimer</h3>
THIS SOFTWARE IS PROVIDED "AS IS", WITHOUT EXPRESS OR IMPLIED WARRANTY OF ANY KIND, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR SUITABILITY UNDER ANY CIRCUMSTANCES. THE AUTHOR MAKES NO WARRANTY THAT THE OUTPUT OF THE SOFTWARE WILL BE ACCURATE, CORRECT, RELIABLE OR COMPLETE; THE SOFTWARE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS; THE SOFTWARE IS FREE FROM DEFECTS; OR THE SOFTWARE WILL NOT STOP WORKING. THE AUTHOR HAS NO OBLIGATION TO CORRECT ERRORS, MAKE CHANGES, PROVIDE MAINTENANCE OR TECHNICAL SUPPORT, OR INTERPRET ANY RESULTS OBTAINED FROM THE USE OF THE SOFTWARE. IN NO EVENT SHALL THE AUTHOR BE LIABLE TO ANY PARTY FOR ANY CLAIM, LOSS, EXPENSE OR DAMAGE RESULTING FROM THE USE OF THE SOFTWARE.<br>
(C) 2017-2018 AD Lab.


</body>
</html>
